body {
  color: #fff;
  font-family: Inconsolata, monospace;
  font-size: 16px;
  line-height: 1.4;
}

h1 {
  color: #fff;
  text-align: left;
  letter-spacing: .2em;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: Oswald, sans-serif;
  font-size: 2.5em;
  font-style: normal;
  font-weight: 300;
  line-height: 1.3;
}

h2 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Inconsolata, monospace;
  font-size: 2em;
  font-weight: 400;
  line-height: 36px;
}

h3 {
  color: #fff;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.5;
}

h4 {
  letter-spacing: .2em;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 2px;
  font-family: Oswald, sans-serif;
  font-size: 1.75em;
  font-weight: 300;
  line-height: 1.4;
}

h5 {
  color: #27ced7;
  letter-spacing: .2em;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 12px;
  font-family: Oswald, sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.4;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 18px;
}

a {
  text-decoration: underline;
}

.win-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url('../images/tvbg.webp');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  display: block;
}

.taskbar {
  width: 100%;
  background-color: orange;
  border-top: 1px solid #fff;
  flex: none;
  justify-content: space-between;
  margin: 0;
  padding: 2px;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  box-shadow: 0 0 0 1px silver;
}

.start-button {
  width: 60px;
  height: 24px;
  color: #000;
  text-align: center;
  letter-spacing: 1px;
  background-color: orange;
  border: 1px solid #000;
  border-color: #fff #000 #000 #fff;
  padding: 0;
  font-family: MS Sans Serif, sans-serif;
  font-size: 14px;
  text-decoration: none;
}

.start-bottom-border {
  width: 100%;
  height: 1px;
  background-color: gray;
  position: relative;
  top: -1px;
}

.start-right-border {
  width: 1px;
  height: 100%;
  float: right;
  background-color: gray;
  position: relative;
  top: -22px;
}

.start-text {
  font-size: 13px;
  line-height: 1;
  display: block;
}

.flex-h {
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 2px 3px;
  display: flex;
}

.clock {
  width: 80px;
  height: 24px;
  background-color: silver;
  border: 1px solid #fff;
  border-color: gray #fff #fff gray;
}

.text-block-2 {
  color: #000;
  font-family: MS Sans Serif, sans-serif;
  font-size: 12px;
}

.desktop {
  width: 100%;
  height: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 16px;
  flex: none;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
  grid-template-columns: .5fr .5fr .5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-content: start;
  justify-content: start;
  align-items: start;
  justify-items: start;
  display: grid;
}

.icon-block {
  width: 90px;
  height: 10vh;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 3px;
  padding-right: 3px;
  text-decoration: none;
  display: flex;
}

.icon-text {
  color: #fff;
  background-color: #000;
  margin-bottom: 0;
  padding: 3px;
  font-family: MS Sans Serif, sans-serif;
  font-size: 11px;
  line-height: 1.2;
}

.icon-text:active, .icon-text:focus {
  background-color: navy;
  border: 1px dotted #ffff7f;
}

.win-icon {
  margin-bottom: 4px;
}

.krokodil {
  width: 500px;
  height: 630px;
  border: 1px solid #000;
  border-color: silver #000 #000 silver;
  display: none;
  position: absolute;
  top: 40px;
  left: 300px;
}

.win-inner-frame {
  width: 100%;
  height: 100%;
  border: 1px solid gray;
  border-color: #fff gray gray #fff;
}

.win-inner-padding {
  width: 100%;
  height: 100%;
  border: 2px solid silver;
  flex-direction: column;
  display: flex;
}

.win-top-bar {
  width: 100%;
  height: 18px;
  background-color: navy;
  flex: none;
  justify-content: space-between;
  align-items: center;
  padding-left: 4px;
  padding-right: 2px;
  display: flex;
}

.win-action-bar {
  width: 100%;
  height: 20px;
  background-color: silver;
  flex: none;
  align-items: center;
  padding-left: 6px;
  display: flex;
}

.win-content-outer-frame {
  border: 1px solid #fff;
  border-color: gray #fff #fff gray;
  flex: 1;
}

.win-content-inner-frame {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: 1px solid silver;
  border-color: #000 silver silver #000;
}

.window-icons {
  height: 14px;
  align-items: flex-start;
  display: flex;
}

.close-icon {
  padding-left: 2px;
}

.win-title {
  font-family: MS Sans Serif, sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.minimize, .fullscreen, .close {
  display: block;
}

.action-item {
  color: #000;
  margin-right: 15px;
  font-family: MS Sans Serif, sans-serif;
  font-size: 12px;
  line-height: 1;
  display: inline-block;
}

.underline {
  text-decoration: underline;
}

.win-content {
  width: 100%;
  height: 581px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  overflow: auto;
}

.game-screen {
  display: block;
  box-shadow: 3px 3px 0 1px #000;
}

.game-info-label {
  color: #000;
  margin-bottom: 0;
  padding-top: 6px;
  padding-bottom: 6px;
  font-family: MS Sans Serif, sans-serif;
  font-size: 13px;
  font-weight: 400;
}

.column, .column-2 {
  padding-left: 0;
  padding-right: 0;
}

.game-info-value {
  color: #000;
  margin-bottom: 0;
  padding-top: 6px;
  padding-bottom: 6px;
  font-family: MS Sans Serif, sans-serif;
  font-size: 13px;
  font-weight: 400;
}

.game-screen-block {
  border-bottom: 1px solid #cfcfcf;
  margin-bottom: 10px;
  padding-bottom: 20px;
}

.game-title {
  color: #000;
  margin-bottom: 6px;
  font-family: MS Sans Serif, sans-serif;
  font-size: 18px;
}

.game-description {
  color: #000;
  font-family: MS Sans Serif, sans-serif;
  font-size: 16px;
}

.columns {
  border-bottom: 1px solid #cfcfcf;
  padding-bottom: 8px;
}

.game-instructions {
  color: #000;
  padding-top: 10px;
  font-family: MS Sans Serif, sans-serif;
  font-size: 14px;
}

.start-menu {
  z-index: 999;
  width: 164px;
  height: 239px;
  background-image: url('../images/bg-start-menu.jpg');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 164px 239px;
  padding-top: 3px;
  padding-left: 24px;
  display: none;
  position: absolute;
  bottom: 26px;
  left: 0;
  right: 0;
}

.start-button-pressed {
  width: 60px;
  height: 24px;
  color: #000;
  text-align: center;
  letter-spacing: 1px;
  background-color: silver;
  border: 1px solid #fff;
  border-color: #000 #fff #fff #000;
  padding: 0;
  font-family: MS Sans Serif, sans-serif;
  font-size: 14px;
  text-decoration: none;
}

.start-left-border {
  width: 1px;
  height: 100%;
  float: left;
  background-color: gray;
  position: relative;
  top: -22px;
}

.start-top-border {
  width: 100%;
  height: 1px;
  background-color: gray;
  position: relative;
  top: -22px;
}

.menu-item-block {
  width: 137px;
  height: 32px;
  color: #000;
  cursor: default;
  align-items: center;
  padding-right: 6px;
  display: flex;
}

.menu-item-block:hover {
  color: #fff;
  background-color: navy;
}

.menu-item-text {
  flex: 1;
  font-family: MS Sans Serif, sans-serif;
  font-size: 12px;
}

.menu-item-shutdown {
  width: 137px;
  height: 32px;
  color: #000;
  align-items: center;
  margin-top: 9px;
  display: flex;
}

.menu-item-shutdown:hover {
  color: #fff;
  background-color: navy;
}

.shut-down {
  width: 100vw;
  height: 100vh;
  background-image: url('../images/bg-shutdown.jpg'), linear-gradient(#000, #000);
  background-position: 50%, 0 0;
  background-repeat: no-repeat, repeat;
  background-size: 680px 425px, auto;
  display: none;
}

.frustration, .tag-light, .darkmaze, .totem, .omage, .escape-vr, .tidal-rave, .insta-karma, .eyes-blind {
  width: 500px;
  height: 630px;
  border: 1px solid #000;
  border-color: silver #000 #000 silver;
  display: none;
  position: absolute;
  top: 40px;
  left: 320px;
}

.recycle-bin {
  width: 502px;
  height: 321px;
  background-image: url('../images/bg-recycle-bin.jpg');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 502px 321px;
  padding-top: 72px;
  padding-left: 6px;
  padding-right: 6px;
  display: none;
  position: absolute;
  top: 80px;
  bottom: 0;
  left: 300px;
}

.close-icon---recycle {
  float: right;
  padding-left: 2px;
  position: absolute;
  top: 6px;
  bottom: 6px;
  right: 6px;
}

.bin-item-block {
  width: 100%;
  height: 17px;
  align-items: center;
  margin-top: 3px;
  display: flex;
  margin-left: 2px;
}

.bin-item-text {
  color: #000;
  padding-left: 2px;
  font-family: MS Sans Serif, sans-serif;
  font-size: 12px;
  line-height: 1;
}

.screensaver {
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background-image: url('../images/pipes.gif');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@media screen and (max-width: 991px) {
  .win-wrapper {
    
    justify-content: space-between;
    padding-top: 160px;
    background-image: url('../images/www.jpg');
    background-position: center;
  }

  .win-content {
    height: 250px;
  }

  .error-message {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 60px;
    padding-right: 60px;
    font-family: MS Sans Serif, sans-serif;
    font-size: 20px;
  }

  .recycle-bin {
    width: 366px;
    height: 321px;
    background-image: url('../images/bg-recycle-bin.jpg');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 502px 321px;
    padding-top: 72px;
    padding-left: 6px;
    padding-right: 6px;
    display: none;
    position: absolute;
    top: 400px;
    bottom: 0;
    left: 22px;
  }

  .krokodil {
    width: 350px;
    height: 300px;
    border: 1px solid #000;
    border-color: silver #000 #000 silver;
    display: none;
    position: absolute;
    top: 40px;
    left: 25px;
  }

}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.75em;
  }

  h5 {
    font-size: 1.35em;
  }
  .win-wrapper {
    background-image: url('../images/www.jpg');
    background-position: center;
  }
  .recycle-bin {
    width: 366px;
    height: 321px;
    background-image: url('../images/bg-recycle-bin.jpg');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 502px 321px;
    padding-top: 72px;
    padding-left: 6px;
    padding-right: 6px;
    display: none;
    position: absolute;
    top: 400px;
    bottom: 0;
    left: 22px;
  }

  .krokodil {
    width: 350px;
    height: 300px;
    border: 1px solid #000;
    border-color: silver #000 #000 silver;
    display: none;
    position: absolute;
    top: 40px;
    left: 25px;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 1.75em;
  }

  h2 {
    text-align: center;
    font-size: 1.25em;
  }

  h4 {
    font-size: 1.5em;
  }
  .win-wrapper {
    background-image: url('../images/www.jpg');
    background-position: center;
  }
  .recycle-bin {
    width: 366px;
    height: 321px;
    background-image: url('../images/bg-recycle-bin.jpg');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 502px 321px;
    padding-top: 72px;
    padding-left: 6px;
    padding-right: 6px;
    display: none;
    position: absolute;
    top: 400px;
    bottom: 0;
    left: 22px;
  }

  .krokodil {
    width: 350px;
    height: 300px;
    border: 1px solid #000;
    border-color: silver #000 #000 silver;
    display: none;
    position: absolute;
    top: 40px;
    left: 25px;
  }
}

#w-node-_42c4ac90-e262-261f-d3da-3a28cca4e7f9-c09478c7 {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-_8b42df76-fdd8-1647-0640-96d60b7ab403-c09478c7 {
  grid-area: 2 / 1 / 3 / 2;
}

#w-node-_0196c41e-ebe0-4e80-f828-34365d2c8081-c09478c7 {
  grid-area: 2 / 1 / 3 / 2;
}

#w-node-fa4deacf-3362-9193-6a55-654a6f8eb513-c09478c7 {
  grid-area: 3 / 1 / 4 / 2;
}

#w-node-_1cc6fac1-5e89-d6c0-22f7-82488b248d10-c09478c7 {
  grid-area: 4 / 1 / 5 / 2;
}

#w-node-_4a4a94d2-d943-500f-d4f0-4acd3a92c9c7-c09478c7 {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-_9a6a4656-724d-4c15-85b4-99fb7702fa04-c09478c7 {
  grid-area: 2 / 2 / 3 / 3;
}

#w-node-e71c808b-24b1-3c4d-f420-1d62954a6386-c09478c7 {
  grid-area: 2 / 2 / 3 / 3;
}

#w-node-_911b49d6-ea40-36b6-c34d-ca2528396137-c09478c7 {
  grid-area: 3 / 2 / 4 / 3;
}

#w-node-_909d4cbc-7271-dae9-9d98-d94a11a38d79-c09478c7 {
  grid-area: 5 / 2 / 6 / 3;
}

#w-node-_44dda0ae-4657-776f-ff2c-fef70cd1018d-c09478c7 {
  grid-area: 5 / 1 / 6 / 2;
}

#w-node-a9d4fed7-4588-fb20-3250-44759936258e-c09478c7 {
  grid-area: 1 / 3 / 2 / 4;
}

#w-node-_061d6ba6-c1fe-a72a-de5c-c7995f3af5cc-c09478c7 {
  grid-area: 2 / 3 / 3 / 4;
}


@font-face {
  font-family: 'MS Sans Serif';
  src: url('../fonts/micross.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Win 95';
  src: url('../fonts/LeviWindows.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}